.product{
    margin-top: 32px;
}

.product-image{
    padding: 24px;
    background-color: var(--white-color);
}

.product-image--img{
    height: 100%;
}

.product-info{
    padding: 28px 24px;
    background-color: var(--white-color);
    border-left: 1px solid #f7f7f7;
}

.product-info-brand_wrapper{
    font-size: 13px;
    display: flex;
}

.product-info-brand-top{
    position: relative;
}
.product-info-brand-text-right::before{
    content: "";
    position: absolute;
    height: 60%;
    width: 1px;
    background-color: #c7c7c7;
    top: 50%;
    left: -6px;
    transform: translateY(-50%);
}

.product-info-brand-name{
    margin-right: 12px;
}

.product-info-name{
    font-size: 24px;
    color: var(--text-color);
    font-weight: 400;
}

.product-info-brand-link{
    color: #1879d7;
}

.content__product-rate{
    font-size: 13px;
}

.product-info-price{
    color: var(--text-color);
    font-size: 32px;
}

.product-button{
    display: flex;
}

.btn{
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 66px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}

.btn--buy{
    background-color: #ff3945;
    color: var(--white-color);
}

.btn--buy-2{
    border: 1px solid #0d5cb6;
    color: #0d5cb6;
    margin-left: 12px;
}